/* 創建一個選擇器，將所有標題和段落的字體設置為 sans-serif */
h1,
h2,
h3,
h4,
p,
li {
    font-family: sans-serif;
    color: #444;
}

h1,
h2,
h3 {
    color: #1098ad;
}

h1 {
    /* color: steelblue; */
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
    /* 1.5倍行距 */
}

li {
    font-size: 20px;
}

/* 這是後代選擇器Descendant selectors的示例： */
/* footer p{
    font-size: 16px;
} */

/* 使用class的選擇器，利用.符號來選擇class屬性的元素 */
.copyright {
    font-size: 16px;
}

/* article header p{
    font-style: italic;
} */

/* 使用id的選擇器，利用#符號來選擇id屬性的元素，id只能用一次，不可重複命名使用 */
#author {
    font-style: italic;
    font-size: 18px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}

/* CSS建議都使用class選擇器，不要使用id選擇器，因為id選擇器只能使用一次，不可重複使用，而class選擇器可以重複使用。 */

.main-header {
    background: color #f7f7f7;
}

aside {
    background-color: #f7f7f7;

    /* 這是簡寫屬性shorthand property的示例 */
    /* border: #1098ad 5px solid;  */
    /* border: #1098ad 5px dotted;
    border: #1098ad 5px dashed; */
    border-top: #1098ad 5px solid;
    /* 上邊框 */
    border-bottom: #1098ad 5px solid;
    /* 下邊框 */
}

body {
    background-color: rgb(255, 188, 202);
}

/* .first-li{
    font-weight: bold;
} */

/*使用偽類別pesudo-class，選擇器選擇第一個li元素 */
li:first-child {
    /* 選擇li的第一個元素 */
    font-weight: bold;
}

li:last-child {
    /* 選擇li的最後一個元素 */
    font-style: italic;
}

/* li:nth-child(odd){ */
li:nth-child(even) {
/* li:nth-child(3){ */
    /* color: red; */
}

article p:last-child{ /*如果p不是在article標間的最後一個，就不會顯現*/
    color: red;
}