/*Universal Selector 全域選擇器(等級最低，容易被其他選擇棄覆蓋)，選擇所有的元素*/
*{
    /* border-top: 10px solid #1098ad;  */
}

/* 建立body的樣式 */
body{
    /* 這兩個屬性會被繼承到所有的元素 */
    color:#444;
    font-family: sans-serif;

    /*不是所以有屬性都會被繼承，border-top是不會被繼承的*/
    border-top: 10px solid #1098ad; 
}

.main-header {
    background: color #f7f7f7;
    /* padding: 20px;
    padding-left: 40px;
    padding-right: 40px; */

    /* 上下的padding都是20px，左右的padding是40px */
    padding: 20px 40px;    
}

aside {
    background-color: #f7f7f7;

    /* 這是簡寫屬性shorthand property的示例 */
    /* border: #1098ad 5px solid;  */
    /* border: #1098ad 5px dotted;
    border: #1098ad 5px dashed; */
    border-top: #1098ad 5px solid;
    /* 上邊框 */
    border-bottom: #1098ad 5px solid;
    /* 下邊框 */
}

h1,
h2,
h3 {
    color: #1098ad;
}

h1 {
    /* color: steelblue; */
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
    /* 1.5倍行距 */
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}
/*但li的最後一個元素不要有margin-bottom*/
li:last-child{
    margin-bottom: 0;
}

/* 這是後代選擇器Descendant selectors的示例： */
/* footer p{
    font-size: 16px;
} */

/* 使用class的選擇器，利用.符號來選擇class屬性的元素 */
.copyright {
    font-size: 16px;
}

/* article header p{
    font-style: italic;
} */

/* 使用id的選擇器，利用#符號來選擇id屬性的元素，id只能用一次，不可重複命名使用 */
#author {
    font-style: italic;
    font-size: 18px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}

/* CSS建議都使用class選擇器，不要使用id選擇器，因為id選擇器只能使用一次，不可重複使用，而class選擇器可以重複使用。 */



body {
    background-color: rgb(255, 188, 202);
}

/* .first-li{
    font-weight: bold;
} */

/*使用偽類別pesudo-class，選擇器選擇第一個li元素 */
li:first-child {
    /* 選擇li的第一個元素 */
    font-weight: bold;
}

li:last-child {
    /* 選擇li的最後一個元素 */
    font-style: italic;
}

/* li:nth-child(odd){ */
li:nth-child(even) {
/* li:nth-child(3){ */
    /* color: red; */
}

/*如果p不是在article標間的第一個，就不會顯現*/
/* article p:first-child{ 
    color: blue;
}  */
article p:last-child {
    /*如果p不是在article標間的最後一個，就不會顯現*/
    color: red;
}

/*連結的樣式*/
a:link{ /*只會對有連結的文字套用樣式*/
    color: #1098ad;
    text-decoration: none; /*去除連結的底線*/
}
a:visited{ /*已經點過的連結*/
    /* color: #444; */
    color: #1098ad;
}
a:hover{ /*滑鼠移到連結上時的樣式*/
    color: orangered;
    font-weight: bold;
    text-decoration: underline wavy orangered;
}
a:active{/*點擊連結時的樣式*/
    background-color: black;
    font-style: italic;
    text-decoration: underline lawngreen;
}


/*Resolving Conflicts 解決衝突*/
/*id選擇器高於其他的*/
/* #copyright { 
    color: red;
} */

/*如果id被取消掉，當.copyright跟.text為同一個層級，會從上面執行到下面，所以黃色會顯現*/
/* .copyright {
    color: blue; 
} */
/* .text {
    color: yellow;
} */

    /*使用!important來強制執行，!important會覆蓋其他的樣式，但不建議使用*/
/*
footer p {

    color: green !important; 
}*/

/*nav 底下的a的偽類別*/
/* nav a:link, nav p {
    font-size: 18px;
} */
 nav{
    font-size: 18px;
 }